* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
h1, h2{
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  line-height: 1.5rem;
  font-size: 1.25rem;
}

/* Add styles here! */

strong {
  color: hsl(160deg, 100%, 30%);
}

body{
  padding-top: 96px;
}

main {
  padding: 72px 0;
  background-color: hsl(0deg, 0%, 40%);
  width: 100%;
  border-top: 8px solid hsl(0deg, 0%, 60%);
}

.card > h2 {
  background-color: hsla(45, 100%, 50%, 1);
    width: fit-content;
    padding: 16px 32px;
    margin: 0 0 0 -32px;
    border-bottom: 8px solid hsla(45, 100%, 40%, 1);
}

.max-width-wrapper {
  max-width: 800px;
  padding: 0px 24px;
  margin: 0 auto;
}

.title {
  margin-bottom:48px;
}

main > .max-width-wrapper {
  background-color: hsla(0, 0%, 100%, 1);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.intro-chunk {
  max-width: 400px;
}

.intro-chunk > p:last-child {
  margin-bottom: 64px;
} 

.card {
  padding-top: 8px;
}